html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    border: 3px solid green;
    flex-flow: row nowrap;
}


.container>div {
    flex: 1;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.container>.leftside {
    background: red;
}

.container>.rightside {
    background: blue;
}

@media (orientation: portrait) {
    .container {
        display: flex;
        border: 3px solid yellow;
        flex-flow: column nowrap;
    }

    .container>div {
        height: 50vh;
    }
}

@media (orientation: landscape) {
  .container {
    display: flex;
    border: 3px solid green;
    flex-flow: row nowrap;
}

  .container>div {
    height: 100vh;
  }
}